.appbody{
    flex:0.70;
    /* background-color: red; */
   /* display: grid; */
   /* place-items: center; */
   /* height: 100vh; */
   /* background-color: white; */
}

.appbody__header{
    padding: 30px;
    display: flex;
    align-items: center;
}

.appbody__headerfirst{
    display: flex;
    align-items: center;
    background-color:white;
    height: 30px;
    margin-right: 30px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.appbody__headersecond{
    display: flex;
    align-items: center;
    background-color:white;
    /* height: 30px; */
    color: #bcbcbc;
    border-radius:9px;
}

.appbody__headersecond p{
    padding: 7px;
    font-size: 12px;
}
.appbody__headersecond p:hover{
    background-color:green;
    color: white;
    cursor: pointer;
    /* height: 30px; */
    border-radius:9px;

}

.title{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    color:grey;
    font-weight: bold;
    font-size: 35px;
}

.appbody__body{
    padding: 100px;
    /* height: 100vh; */
    margin-left: 10px;
    margin-bottom:70px;
    /* text-align: center; */
    background-color: #f8f8f8;
    border-radius: 10px;
    /* position: relative; */
    

    box-shadow: 0 1px 3px rgba(0,0,0,0.12) , 0 1px 2px rgba(0,0,0,0.24);
}

.appbody__bodyheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
    /* position: sticky; */
    /* top: 0; */
    
}

.appbody__bodyheaderleft{
    display:flex;
    align-items: center;

}

.appbody__bodyheaderleft1{
    /* display:flex; */
    /* padding: 10px; */
    margin-right:25px;
    color: grey;
}
.appbody__bodyheaderleft1 p{
    font-size: 13px;
    margin-bottom: 9px;
    font-weight: bold;
}

.appbody__bodyheaderleft1 h2{
    display: flex;
    align-items: center;
    /* margin-left: 5px; */

}

.appbody__bodyheaderleft1 h2>.MuiSvgIcon-root {
    height: 40px !important;
    width: 40px !important;
}

.appbody__bodyheaderleft2{
    color:grey;
}
.appbody__bodyheaderleft2 p{
    font-size: 13px;
    margin-bottom: 9px;
    font-weight: bold;

}
.appbody__bodyheaderleft2 h2{
    display: flex;
    align-items: center;
    margin-left: 9px;
}


.appbody__bodyheaderleft2 h2>.MuiSvgIcon-root {
    height: 40px !important;
    width: 40px !important;
}

.appbody__bodyheaderright > .MuiSvgIcon-root{
    color: grey;
    font-size: 40px;
    padding-left:30px ;
}

.appbody__bodytitle{
    display: flex;
    color:grey;
    padding: 30px;
    font-size: 13px;
}

.appbody__bodytitle p {
    color:blue;
    margin-left: 50px;
}

.appbody__bodyprofile{
    display: flex;
}

.appbody__bodymain{
    border-bottom: 2px solid grey;
    padding-bottom: 30px;
}

.appbody__bodyprofileright{
    overflow-y: scroll;
    /* border-radius: 3px; */
}

.appbody__bodyprofileright::-webkit-scrollbar{
    /* border-radius: 3px; */
} 

/* 
.appbody__bodyprofileright::-webkit-scrollbar{
    width: 20px;
}

.appbody__bodyprofileright::-webkit-scrollbar-thumb{
    border-radius:30px;
    background:-webkit-gradient(linear, left top, left bottom, from(#ff8a00),to(#da1b60));
    box-shadow:inset 2px 2px 2px rgba(255, 255,255,0.25), inset -2px -2px -2px
    rgba(0,0,0,0.25)
}  */

.messages{
    color: gray;
    margin-bottom: 10px;

}

.profile__bodyright h4{
    color: black;
    margin-left:10px;
    /* font-size: 14px; */
    font-weight: 500;

}

.jobrole{
        margin-top: 3px;
        font-size: 12px;
        font-weight: 400;
}

.profile__bodyright{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 10px;
    padding: 8px;
}

.appbody__bodyprofileright h5{
    color: blue;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.appbody__footer{
    display: flex;
    padding-bottom:10px;
    border-bottom: 3px solid gray;
}

.appbody__footerleft{
    display: flex;
    border-right: 2px solid lightblue;
}

.appbody__footerleft img {
    height: 200px;
    object-fit: contain;
}

.appbody__footerleft1{
    display: flex;
    padding: 15px;
    /* align-items: center; */
    /* justify-content:center; */
}

.appbody__footerleft1 > .MuiSvgIcon-root {
    font-size:12px;
    margin-right:5px;
}
.btn1{
    color:lightgreen;

}
.btn3{
    color:lightsalmon;

}
.btn4{
    color:red;
    ;
}

.btn2{
    color:lightgray;
}

.appbody__footerleft1 h3{
    font-size:10px;
    font-weight:400;
    /* padding-right: 100px; */
}

.appbody__footerleft1 h3 small{
    color:grey;
    margin-left: 10px;;
}

.footertitle h4{    
    color:grey;
    padding: 10px;

}

.propertyfooter input{
    width: 50px;
    background-color: #CECEA1;
    border: none;
    outline: 0;
}

.icon{
    display: flex;
    align-items: center;
    width: 80px;
    border-radius: 7px;
    margin-top: 10px;
    background-color: #CECEA1;
}
.dates,.payment,.amount{
    padding: 5px;
}
.amount{
    display: flex;
    /* align-items: center; */
}
.dates p{
    font-size: 13px;
    font-weight: 500;
}
.dates small{
    color: grey;
    font-size: 11px;
}

.payment h4{
    font-size: 13px;
    font-weight: 500;
}

.payment p{
    color: grey;
    font-size: 11px;
}

.amount p{
    font-size: 13px;
    font-weight: 500;
}

.amount > .MuiSvgIcon-root {
    font-size: 11px;
    color: green;
}

.appbody__footerright{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

.overall{
    display: flex;
    padding: 10px;
    /* flex-direction: column; */
}

.redarrow{
    color: red;
}

.dashboardfinal{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.dashboardfinal h3{
    color:grey;
}

.dashboardfinal p{
    color:blue;
    cursor: pointer;
    font-size: 14px;
}