.sidebar{
    flex: 0.20;
    /* display: flex; */
}

.sidebar__profile{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-family: 'montserrat'; */
}
.logo {
    height: 50px !important;
    width: 50px !important;
    cursor: pointer;
}
.sidebar__profile h3{
    color: #bcbcbc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar__profile p{
    color: #0045a1;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    font-size: 10px;
    cursor: pointer;
}

.sidebar__profile button{
    background-color: #9DA8D2;
    border: none;
    border-radius: 999px;
    color: #64697D;
    /* font-size: 10px; */
    text-transform: inherit;
    width: 70%;
    height: 25px;
    outline: 0;
}

.sidebar__body{
    display: flex;
    flex-direction: column;
    flex: 0.10;
}
.sidebar__bodylogo{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    cursor:pointer;
    margin-top: 10px;
    color:gray;

}

.sidebar__bodylogo:hover{
    background-color:white;
    color:black;
    border-left: 3px solid red;
}
/* 
.sidebar__bodylogo:active{
    border-left: 3px solid red;
} */

.sidebar__bodylogo small {
    margin-top: 3px;
}
/* 
.sidebar__bodycolor{
    height: 70vh;
    width: 50vh;
    background-color: #64697D;
} */